<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">關於 <%= site_name %> <a href="#introduction">#</a> </h1>
  <p>根據《公開資料守則》，市民可獲取香港政府各部門所持有的資料。<a class="target-new" href="http://www.access.gov.hk">按此查閱《公開資料守則》</a>
  </p>
  <p>accessinfo.hk 旨在讓市民能根據<a href="http://www.access.gov.hk">《公開資料守則》</a>，更容易、更透明地提出獲取資料的申請。同時亦希望透過發佈公開資料的申請及回覆，免卻各使用者重覆提出同一資料的申請。這些資料可再經由公眾審閱<!--especially when these are unfair-->。
  </p>
  <p>你可嘗試<a href="/select_authority">提出申請</a>或<a href="/list/successful">查看已成功提出的申請</a>更進一步了解申請過程，亦可查閱<a href="/help/requesting">如何提出申請</a>。
  </p>
</div>


